
<div class="container">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/">Go to Burgers</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <h1>Authors</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>See Author's Posts</th>
                        <th>Delete Author</th>
                    </tr>
                    </thead>
                    <tbody>
{{#each customers}}
    <tr>
        <td> {{this.name}} </td>
        <td> <a href="/api/customers/{{this.id}}" > Go to Burgers </a> </td>
        <td>
            <form action="/api/customers/{{this.id}}?_method=DELETE" method="POST">
            <a style="cursor:pointer;color:white" class="delete-author" >Delete Customer</a>
            </form>
        </td>
    </tr>
{{/each}}
                    <tr id="form-row">
                        <form id="author-form" action="/customers" method="POST" >
                            <td colspan="4">
                                <input placeholder="Enter a name" id="author-name" type="text"  name="name"/>
                            </td>
                            <td><button type="submit" class="btn btn-success">Create Author</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </d>

</div>

